.header-container{
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  /* align-items: center; */
  justify-content: center;
  background-color: white;
}
form{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
  gap: 0.85rem;
}
form input{
  border-radius: 0.4rem;
border:1px solid #D1D5DB;
padding:8px 10px;
box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
flex-grow: 1;
min-width: 150px;
max-width: 400px;
font-size: 1.4rem;

}
form button{
  border-radius: 6px 9px;
  background-color: black;
  color:white;
  font-size: 1.9rem;
  font-weight: lighter;
}
form > button::before {
  content: "+";
  margin-right: 5px;
} 
input:focus {
  border: 2px solid blue;
  outline: none;
  background-color: #f0f8ff;
}

input:active {
  border: 2px solid #0051ff;
}
.ingridentslst,.favoriteThings {
  border: 1px solid black;
  border-radius: 7px;
  width: 50rem;
  margin: 2rem auto;
}
ul li{
  margin:8px 0;
}
.get-recipe-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  background: #F0EFEB;
  padding: 10px 28px;
  width:70%;
  margin:0 auto;
}

.get-recipe-container h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 24px;
}

.get-recipe-container p {
  color: #6B7280;
  font-size: 0.875rem;
  line-height: 20px;
}

.get-recipe-container button {
  border: none;
  border-radius: 6px;
  background: #D17557;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
  color: #FAFAF8;
  padding: 9px 17px;
  font-family: Inter, sans-serif;
  font-size: 0.875rem;
  cursor: pointer;
}
.AddandMinus{
    width: 50rem;
    margin: 2rem auto;
}

.suggested-recipe-container {
  color: #475467;
  line-height: 28px;
  font-size: 1.125rem;
  font-weight: 400;
}

.suggested-recipe-container ul li, .suggested-recipe-container ol li {
  margin-bottom: 8px;
}
.instructionmenus{
width: 70%;
margin: 0 auto;
}